*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: block;
  margin: auto;
  max-width: 550px;
  background-color: rgb(218, 218, 218);
  margin-top: 20px;
  border-radius: 40px;
  overflow: hidden;
}